@import 'variables';

* { 
   margin: none;
   padding: none;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: $color-neutral-1;
}

.container {
    display: grid;
    grid-template-columns: [margin-start] minmax(5rem, 10vw) 
                           [center-start] repeat(2, [col-start] minmax(15rem, max-content) [col-end])
                           [center-end] minmax(5rem, 10vw) [margin-end];
}

.attribution {
    font-size: 1.1rem;
}


