@import 'variables';

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;   // 1em = 10px
}

body {
    font-family: 'Karla', sans-serif;
    background-color: $color-neutral-1;
}

.container {
    display: grid;
    grid-template-columns: [margin-start] minmax(3rem, 8vw) 
                           [center-start] minmax(min-content, 1fr) [center-end]
                            minmax(3rem, 8vw) [margin-end];
    justify-items: center;
}

.content {
    display: grid;
    font-size: 1.6rem;
    transform: scale(.7);
    grid-template-columns: repeat(2, minmax(min-content, 43.5rem));
    grid-column: center-start / center-end;
    margin: 15vh 0;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
}

footer {
    font-size: 1.1rem;
    grid-column: center-start / center-end;
    grid-row: 5 / span 6;
    justify-self: start;
}


